.news-single-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 1352px;
  width: 100%;
  padding: 42px 20px 0;
}

.page-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 62px 20px 120px;
}

.news-block.block01 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  max-width: 1080px;
  width: 100%;
}

.news-link.news-page {
  max-width: 1080px;
  width: 100%;
  transition: padding 0.3s ease;
  /* スムーズな移行 */
}


.line01.news-page {
  width: 1080px;
}

/* ページネーション */
.pagenation {
  margin-top: 80px;
}

.pagenation li {
  display: inline-block;
  height: 40px;
  /* line-height:40px; */
  width: 40px;
  text-align: center;
  font-size: 24px;
  margin-right: 20px;
}

.pagenation li:last-child {
  margin-right: 0;
}

.pagenation .this {
  background-color: #107E5F;
  color: #fff;
  border-radius: 100px;
  border: 1px #107E5F solid;
}

.pagenation li a {
  display: block;
  text-decoration: none;
}

.pagenation li a:hover {
  /* color: #fff; */
  text-decoration: none;
  border: 1px #107E5F solid;
  border-radius: 100px;
}